.Input{
    display: flex;
    flex-direction: column;

}

.Input label{

    color:#fff;
    margin-top: 20px; 
    font-weight: lighter;
    font-size: 22px;
}

.Input input{
    border-radius: 0.538rem;
    border: none;
    width: 70%;
    height: 26px;
    margin-top: 3.5px;
    cursor: pointer;
    padding: .5rem;
}
